<!DOCTYPE html>
<html>
  <head>
    <title>TsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Mandelbrot', page_path('mandelbrot') %>
      <%= link_to 'Mandelbrot (Workers)', page_path('workelbrot') %>
      <%= link_to 'Mandelbrot (WebGL)', page_path('webgelbrot') %>
      <%= link_to 'Population', page_path('population') %>
    </nav>
    <%= yield %>
  </body>
</html>
